PORT=5000
MONGODB_URI=mongodb+srv://milkdairy:milkdairy123@cluster0.dj4zgry.mongodb.net/natural_milk_dairy?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
JWT_SECRET=natural_milk_dairy_super_secret_jwt_key_2026
